# Ignore les dossier :
CSV/
.ruff_cache/

# Ignore les fichiers
*.ipynb
.vscode/
scan_imports.py
imports.txt

# ignore les dossier
.venv
__pycache__/

# Logs et fichiers temporaires
*.log
*.tmp

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de test ou de debug
*.coverage
.cache/
